*{
    margin: 0;
    padding: 0;
}
.main_container{
}

.card{
    margin: 10px;
    padding: 5px;
    width: 300px;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 3px 2px black;
    align-items: start;
    display: inline-block;
}
.showUserImg{
    text-align: center;
}
.showUserImg img{
    width: 200px;
}
.showUserInfo{
    width: 100%;
   
}
.list{
    list-style: none;
}
.list li{
    margin: 5px;
    padding: 5px;
}